
<div class="signupSection">
                <form (submit)="forgotPassword()" class="signupForm">
                    <div align="center">
                      <font size = "50">Enter Your Email</font>
                    </div>
                    <ul class="noBullet">
                      <li>
                        <div align="center">
                        <input type="text" class="inputFields" [(ngModel)]="email" name="email" placeholder="                                      please enter the Email of yours" 
                        style ="display: inline-block; width: 340px; height: 30px ">
                        </div>
                      </li>
                      <br/>
                      <br/>
                      <div align="center">
                        <input type="submit" id="join-btn" value="Reset" style ="display: inline-block; width: 340px; height: 30px">
                      </div>
                    </ul>
                </form>
        </div>
               
