 <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/orders" class="site_title"><i class="fa fa-paw"></i> <span>Gentelella Alela!</span></a>
            </div>

            <!-- sidebar menu -->
             <app-sidebar> </app-sidebar>
            <!-- /sidebar menu -->

          </div>
        </div>
        <!-- top navigation -->
        <app-topbar></app-topbar>
        <!-- /top navigation -->
        
         <!-- page content -->
<div style="display: block">
  <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
</div>     
<script src="node_modules/chart.js/src/chart.js"></script>

 </div>
        <footer>

          <div class="clearfix"></div>
        </footer>
        <!-- /page content -->


      </div>
</body>

 

