
<div class="signupSection">
               
    <form  #resetPasswordForm="ngForm"(ngSubmit)="onResetSubmit(resetPasswordForm.value)" class="signupForm">
            <div align="center">
                <font size = "50">Enter Your New Password</font>
            </div>
        <ul class="noBullet">
        <li>
                <div align="center">
                        <input type="password" class="form-control" #password="ngModel" id="password" name="password" placeholder="Password" style ="display: inline-block; width: 340px; " required minlength="8" maxlength="15" ngModel />
                        <div *ngIf ="!password.pristine && password.errors?.required"
                             class="alert alert-danger">   Password is required
                        </div>
                        <div *ngIf ="!password.pristine && password.errors?.minlength"
                             class="alert alert-danger">   Password is shorter than 8 characters
                        </div>
                        
                </div>
        </li>
<br/>
<br/>

        <li>
                <div align="center">
                        <input type="password" class="form-control" #password2="ngModel" id="password2" name="password2" placeholder=" Re- enter the Password again" style ="display: inline-block; width: 340px;" required validateEqualTo="password" ngModel />
                       
                        <div [hidden]="password2.valid || (password2.pristine)"
                                class="alert alert-danger">  Password mismatch
                        </div>

                        
                </div>
        </li>
        <br/>
        <br/>
        <div align="center">
        <input type="submit" id="join-btn" value="Reset" style ="display: inline-block; width: 340px; height: 30px">
        </div>        
        </ul>
    </form>
</div>
