<!DOCTYPE html>
<html lang="en">
<head>
<title>Pharmacy Sign Up</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="/assets/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="/assets/css/colorpicker.css" />
<link rel="stylesheet" href="/assets/css/datepicker.css" />
<link rel="stylesheet" href="/assets/css/uniform.css" />
<link rel="stylesheet" href="/assets/css/select2.css" />
<link rel="stylesheet" href="/assets/css/matrix-style.css" />
<link rel="stylesheet" href="/assets/css/matrix-media.css" />
<link rel="stylesheet" href="/assets/css/bootstrap-wysihtml5.css" />
<link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
  
<div class="container-fluid">
  <div class="row-fluid">
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>Pahrmacy Sign Up</h5>
        </div>
        <div class="widget-content nopadding">

          <form  #reg="ngForm" (ngSubmit)="onSignupPharmacy(reg.value)" class="form-horizontal">
            <div class="control-group">
              <label class="control-label">Pharmacy Name :</label>
              <div class="controls">
                <input required type="text" name="name"  class="span11" placeholder="Pharmacy name" ngModel />

              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Email : </label>
              <div class="controls">

                <input required type="text"  name="email"  class="span11" placeholder="Email" ngModel />

              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Password : </label>
              <div class="controls">

                <input required type="password"  name="password"   class="span11" placeholder="Enter Password"  ngModel />

              </div>
            </div>
            <div class="control-group">
              <label class="control-label">City : </label>
              <div class="controls">
                <select >
                  <option>First option</option>
                  <option>Second option</option>
                  <option>Third option</option>
                  <option>Fourth option</option>
                  <option>Fifth option</option>
                  <option>Sixth option</option>
                  <option>Seventh option</option>
                  <option>Eighth option</option>
                </select>
              </div>
            </div>
            <div class="control-group">
             <label class="control-label">Location : </label>
              <div class="controls">
                <angular2-multiselect [data]="dropdownListLocation" [(ngModel)]="selectedItemsLocation" [ngModelOptions]="{standalone: true}"
                  [settings]="dropdownSettingsLocation" 
                  (onSelect)="onItemSelectLocation($event)" 
                  (onDeSelect)="onItemDeSelectLocation($event)"
                  (onSelectAll)="onSelectAllLocation($event)"
                  (onDeSelectAll)="onDeSelectAllLocation($event)"></angular2-multiselect>
                
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Street Name : </label>
              <div class="controls">

                <input  type="text"  name="street" class="span11" placeholder="Street Name"   ngModel />

              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Deliver To : </label>
              <div class="controls">
                <angular2-multiselect [data]="dropdownListDeliverTo" [(ngModel)]="selectedItemsDeliverTo" [ngModelOptions]="{standalone: true}"
                  [settings]="dropdownSettingsDeliverTo" 
                  (onSelect)="onItemSelectDeliverTo($event)" 
                  (onDeSelect)="onItemDeSelectDeliverTo($event)"
                  (onSelectAll)="onSelectAllDeliverTo($event)"
                  (onDeSelectAll)="onDeSelectAllDeliverTo($event)"></angular2-multiselect>
                
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Delivery Time : </label>
              <div class="controls">

                <input required type="number"  name="time"  class="span11" placeholder="Delivery Time"  ngModel/>

              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Telephone Number : </label>
              <div class="controls">

                <input required type="text"  name="telephone"  class="span11" placeholder="Tel Number" ngModel />

              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Mobile Number : </label>
              <div class="controls">
                <input type="text"  name="mobile"  class="span11" placeholder="Mobile Number" ngModel />

              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Logo : </label>
              <div class="controls">
                <input type="file" id="logo" name="logo" #plogo="ngModel" style="display:inline-block" (change)="fileChange($event)" accept="image/*" class="span11"required ngModel />
              </div>
            </div>
            <div class="form-actions">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>

<!--end-Footer-part--> 
<script src="/js/jquery.min.js"></script> 
<script src="/js/jquery.ui.custom.js"></script> 
<script src="/js/bootstrap.min.js"></script> 
<script src="/js/bootstrap-colorpicker.js"></script> 
<script src="/js/bootstrap-datepicker.js"></script> 
<script src="/js/jquery.toggle.buttons.js"></script> 
<script src="/js/masked.js"></script> 
<script src="/js/jquery.uniform.js"></script> 
<script src="/js/select2.min.js"></script> 
<script src="/js/matrix.js"></script> 
<script src="/js/matrix.form_common.js"></script> 
<script src="/js/wysihtml5-0.3.0.js"></script> 
<script src="/js/jquery.peity.min.js"></script> 
<script src="/js/bootstrap-wysihtml5.js"></script> 
<script>
	$('.textarea_editor').wysihtml5();
</script>
</body>
</html>
