<!-- sidebar menu -->
<div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/orders" class="site_title"><i class="fa fa-paw"></i> <span>Gentelella Alela!</span></a>
            </div>
<div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/home" class="site_title"><i class="fa fa-paw"></i> <span>MY PHARMACY</span></a>
            </div>
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">


                  <li><a><i class="fa fa-table"></i>  Products <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/products">Manage Products</a></li>
                    </ul>
                  </li>

                  <li><a><i class="fa fa-table"></i>  Charts <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/bar">Bar chart</a></li>
                      <li><a href="/pie">Pie chart</a></li>
                    </ul>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
</div>
 </div>
        </div>
  
<!-- /sidebar menu -->
