<style>
.signupSection {
  position: relative;
  left: 30%;
  width: 700px;
  height: auto;
  text-align: center;
  color: white;
}

.signupForm {
  width: 70%;
  padding: 30px 0;
  background: rgba(20, 40, 40, .8);
  transition: .2s;
}

.signupForm h2 {
    font-weight: 300;
  }

.inputFields {
  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  width: 250px;
  border: 1px solid rgba(10, 180, 180, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, .2);
  color: white;
  outline: none;
}

.noBullet {
  list-style-type: none;
  padding: 0;
}

#join-btn {
  border: 1px solid rgba(10, 180, 180, 1);
  background: rgba(20, 20, 20, .6);
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: .4s;
}

#join-btn:hover {
    background: rgba(20, 20, 20, .8);
    padding: 10px 80px;
  }
  
</style>
<body class="login" >
        <div>
                <a class="hiddenanchor" id="signup"></a>
                <a class="hiddenanchor" id="signin"></a>
                <a class="hiddenanchor" id= "resetPassword"></a>

                <div class="login_wrapper" >
                        <div class="animate form login_form">
                                <section class="login_content">
                                        <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)" nonvalidate>
                                                <h1>Login Form</h1>
                                                <div>
                                                        <input type="text" class="form-control" id="email" name="email" #emailRef = "ngModel" placeholder="Email Address" required email ngModel />
                
                                                        <div [hidden]="emailRef.valid || emailRef.untouched " class="alert alert-danger">
                                                                
                                                                Please enter Valid email address
                                                        
                                                        </div>
                                                </div>
                                                
                                                <div>
                                                        <input type="password" class="form-control" id="password" name="password" #passRef ="ngModel" required placeholder="Password" required="" ngModel/>

                                                        <div [hidden]="passRef.valid || passRef.untouched" class="alert alert-danger">                  please enter your password 
                                                        </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                
                                                <div>
                                                        <button [disabled]="!loginForm.form.valid" type="submit" class="btn btn-default submit" >Log in</button>
                                                </div>
                                                <div class="separator">
                                                
                                                        <p class="change_link">New to site?
                                                              <a href="#signup" class="to_register">Create Account </a>
                                                              <!  <a href="javascript:void(0)" (click)="createNewAccount()" style="color:#fcab0e"><! Create Account</a>
                                                        </p>
                                                        <p class="change_link">Forgot password
                                                             <!  <a href="#resetPassword" class="to_register"><!Reset Password </a>
                                                          <a href="/forgotPass"  style="color:#fcab0e">reset it</a>              
                                                        </p>
                                                       

                                                        <div class="clearfix"></div>
                                                        <br />
                                                </div>
                                        </form>
                                </section>
                        </div>
                
                
                 

                <div id="register" class="animate form registration_form">
                        <section class="login_content">
                                <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm.value)">
                                        <h1>Create Account</h1>
                                <div>
                                        <input type="text" class="form-control" id="pharma_name" name="pharma_name" #pharmaName= "ngModel" placeholder="pharmacy name" style ="display: inline-block; width: 340px;"required ngModel />
                                        
                                                <div [hidden]="pharmaName.valid || pharmaName.untouched" class="alert alert-danger">
                                                        
                                                        Please Enter Pharmacy name
                                                </div>
                                </div>
                                <div>
                                        <input type="text" class="form-control" id="email" name="email" #email= "ngModel" placeholder="email" style ="display: inline-block; width: 340px;" required ngModel />
                    
                                                <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
                                                        Please Enter Email
                                                </div>
                                </div>

                                <div>
                                        <input type="password" class="form-control" #password="ngModel" id="password" name="password" placeholder="Password" style ="display: inline-block; width: 340px;" required minlength="8" maxlength="15" ngModel />
                                        <div *ngIf ="!password.pristine && password.errors?.required"
                                             class="alert alert-danger">   Password is required
                                        </div>
                                        <div *ngIf ="!password.pristine && password.errors?.minlength"
                                             class="alert alert-danger">   Password is shorter than 8 characters
                                        </div>
                                        
                                </div>

                                <div>
                                        <input type="password" class="form-control" #password2="ngModel" id="password2" name="password2" placeholder=" Re- enter the Password again" style ="display: inline-block; width: 340px;" required validateEqualTo="password" ngModel />
                                       
                                        <div [hidden]="password2.valid || (password2.pristine && !registerForm.submitted)"
                                                class="alert alert-danger">  Password mismatch
                                        </div>

                                        
                                </div>

                                <div ngModelGroup="address">
                                <div class="form-group">
                                        <label for="name">City <span class="required">*</span></label>
                                        
                                        <div class="btn-group">

                                               <select [ngModel]="city" style ="display: inline-block; width: 340px; height:3.2em;"(ngModelChange)="onChange($event)" name="city" id="city" class="span11"  >
                                                <option value="Cairo">Cairo</option>
                                                <option value="Giza">Giza</option>
                                                <option value="Alexandria">Alexandria</option>
                                                <option value="Suez">Suez</option>
                                                <option value="Ismailia">Ismailia</option>
                                                <option value="Port Said">Port Said</option>
                                                <option value="Damietta">Damietta</option>
                                                <option value="Sharqia">Sharqia</option>
                                                <option value="Qaliubiya">Qaliubiya</option>
                                                <option value="El-Beheira">El-Beheira</option>
                                                <option value="Kafr El-Shaeikh">Kafr El-Shaeikh</option>
                                                <option value="Gharbia">Gharbia</option>
                                                <option value="Monofia">Monofia</option>
                                                <option value="Qena">Qena</option>
                                                <option value="Menia">Menia</option>
                                                <option value="Fayoum">Fayoum</option>
                                                <option value="Beni Swaif">Beni Swaif</option>
                                                <option value="Sohag">Sohag</option>
                                                <option value="Assiut">Assiut</option>
                                                <option value="Marsa Matrouh">Marsa Matrouh</option>
                                                <option value="New Valley">New Valley</option>
                                                <option value="Red Sea">Red Sea</option>
                                                <option value="Luxor">Luxor</option>
                                                <option value="Aswan">Aswan</option>
                                                <option value="North Sinai">North Sinai</option>
                                                <option value="South Sinai">South Sinai</option> 
                                                </select>
                                        </div>

                                </div>

                                <div class="form-group">
                                        <label for="name">Location <span class="required">*</span></label>
                                        <div class="btn-group">
                                                <select required class="form-control" id="locations" style ="display: inline-block; width: 340px;" name="singleLocation"  [(ngModel)]="singleLocation">
                                                 <option *ngFor="let x of locations" [value]="x.name">{{x.name}}</option>
                                                </select>
                                        </div>
                                       
                                </div>
                                
                                <div>
                                        <input type="text" class="form-control" id="street" name="street" #street= "ngModel" placeholder="Street name" style ="display: inline-block; width: 340px;" required ngModel />
                                        
                                        <div [hidden]="street.valid || street.untouched" class="alert alert-danger">
                                                Please Enter Street name
                                        </div>
                                </div>
                    <div class="group-control">
                    <label for="name">Deliver To <span class="required">*</span></label>
                    <div class="btn-group">
                        <div class="controls" style ="display: inline-block; width: 340px;">
                                <angular2-multiselect [data]="dropdownListDeliverTo" [(ngModel)]="selectedItemsDeliverTo" [ngModelOptions]="{standalone: true}"
                                [settings]="dropdownSettingsDeliverTo" 
                                (onSelect)="onItemSelectDeliverTo($event)" 
                                (onDeSelect)="onItemDeSelectDeliverTo($event)"
                                (onSelectAll)="onSelectAllDeliverTo($event)"
                                (onDeSelectAll)="onDeSelectAllDeliverTo($event)"></angular2-multiselect>
                                
                        </div>
                        
                    </div>
                    </div>
                    </div>
                    <br/>
              <div>
                <input type="text" class="form-control" id="time" name="time" #time= "ngModel" placeholder="Delivery Time" style ="display: inline-block; width: 340px;" required ngModel />
                    <div [hidden]="time.valid || time.untouched" class="alert alert-danger">
                    Please Enter Delivery Time
                    </div>
              </div>
              <div>
                <input type="text" class="form-control"  name="telephone" #telephone= "ngModel"  placeholder="Telephone number" style ="display: inline-block; width: 340px;" required ngModel />

              </div>
              <div>
                <input type="text" class="form-control" id="mobile" name="mobile" #mobile= "ngModel" placeholder="Mobile No" style ="display: inline-block; width: 340px;" required ngModel />
                    <div [hidden]="mobile.valid || mobile.untouched" class="alert alert-danger">
                    Please Enter Mobile Number
                    </div>
              </div>

              <div>
                      <input type="file" id="logo" name="logo" #plogo="ngModel"  (change)="fileChange($event)" accept="image/*" class="span11" style =" text-align:center; display: inline-block; vertical-align: middle;  width: 340px;"required ngModel />
              </div>
                <br/>
                <br/>
              <div>

                    <button [disabled]="!registerForm.form.invalid" type="submit" class="btn btn-default submit" style ="display: inline-block; width: 200px;" >Submit</button>              


              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Already a member ?
                  <a href="#signin" class="to_register"> Log in </a>
                </p>
                </div>
                <div class="clearfix"></div>
                <br />
        
            </form>
          </section>
        </div>

      </div>
    </div>
  </body>